#Introduccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Source serif pro;
    text-align: center;
    font-size: 1em;
}
h1 {
    font-size: 3em;
    font-weight: bold;
    color: #000000;
}

#Imagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 3em;
    font-weight: bold;
    color: #000000;
}

#imagengato{
    width: 70%;
    height: 70%;
    border-radius: 50%;
}

#Listas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listas-indices{
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
}